<ul class="tabs">
  <li><%= link_to 'Pump Price', fuel_prices_path %></li>
  <li><%= link_to 'Net Price', net_prices_fuel_prices_path %></li>
  <li class="active"><%= link_to 'Diesel vs Unleaded', diesel_vs_unleaded_prices_fuel_prices_path %></li>
</ul>

<h1>Diesel vs Unleaded: how much more expensive?</h1>

<p>
  How much more expensive is diesel than petrol? Here it is in pennies over
  time.
</p>

<div id="diesel-vs-unleaded-prices-chart">
  <p>Something must have gone wrong with the chart. Sorry.</p>
</div>
