<h1>Pump Prices</h1>

<p>
  Here's a chart showing the pump price (ie the UK-wide average price you'd
  pay for fuel at the pump).
</p>

<div id="pump-prices-chart">
  <p>Something must have gone wrong with the chart. Sorry.</p>
</div>
