<ul class="tabs">
  <li class="active"><%= link_to 'Pump Price', fuel_prices_path %></li>
  <li><%= link_to 'Net Price', net_prices_fuel_prices_path %></li>
  <li><%= link_to 'Diesel vs Unleaded', diesel_vs_unleaded_prices_fuel_prices_path %></li>
</ul>

<h1>Pump Prices</h1>

<p>
  Here's a chart showing the pump price (ie the UK-wide average price you'd
  pay for fuel at the pump).
</p>

<div id="pump-prices-chart">
  <p>Something must have gone wrong with the chart. Sorry.</p>
</div>
