<ul class="tabs">
  <li><%= link_to 'Pump Price', fuel_prices_path %></li>
  <li class="active"><%= link_to 'Net Price', net_prices_fuel_prices_path %></li>
  <li><%= link_to 'Diesel vs Unleaded', diesel_vs_unleaded_prices_fuel_prices_path %></li>
</ul>

<h1>Net Prices</h1>

<p>
  Here's a chart showing the net price of fuel, exclusive of VAT (at the
  prevailing rate of the time) and duty (again at the rate of the time).
</p>

<div id="net-prices-chart">
  <p>Something must have gone wrong with the chart. Sorry.</p>
</div>
