<div class="hero-unit">
  <h1>Fuel Prices <small>Comparing fuel costs</small></h1>

  <p>
    I recently switched from a petrol to a diesel car. I'm trying to figure
    out how much money we've saved out of our monthly budget based on our real
    mileage and the fuel efficiency claimed by the car itself.
  </p>

  <p>
    That, and I found there's a data file out there on the Interwebs with
    average UK fuel prices so I thought I'd use that to add more detail to the
    comparison.
  </p>
</div>

<div class="row">
  <div class="span6">
    <h3>Compare fuel prices</h3>
    <p>
      Have a look at how fuel prices have changed over time, taking into
      account fuel duty and VAT. I seem to have found weekly average UK fuel
      prices for both petrol and diesel for the past 10 years, so there's
      plenty of data to compare.
    </p>
  </div>

  <div class="span5">
    <h3>Compare cost of Petrol &amp; Diesel</h3>
    <p>
      If you're considering petrol vs diesel for your next car, compare the
      relative costs with estimated fuel consumption and MPG, see how much you
      could save.
    </p>
  </div>

  <div class="span5">
    <h3>Track your fuel usage</h3>
    <p>
      If you keep coming back, you can enter your fuel usage over time,
      putting in your current average MPG and your current odometer reading
      and we'll track your usage and spend over time. It might even be
      interesting!
    </p>
  </div>
</div>

<div class="hero-unit">
  <p style="text-align: center">
    <%= link_to 'Sign up now &rarr;'.html_safe, new_user_registration_path, class: 'btn primary large' %>
  </p>
</div>